div.login-wrapper
  h1 Welcome back, please login
  - if ('undefined' !== typeof errors && errors.length)
    div.alert-message.block-message.error
      ul#errors
        - each error in errors
          li.error= error
  h2#pass-changed-msg.hidden Password was changed. Please login with your new password.
  br
  form(action='/login', method='POST', id='login-form')
    fieldset
      input(type='hidden', name="friend_request_id", value='')
      #login.clearfix
        label(for=everyauth.password.loginFormFieldName) E-mail
        .input
          input(type='text', name=everyauth.password.loginFormFieldName, value=email, placeholder="Your Email Address", class="required email")
      #password.clearfix
        label(for=everyauth.password.passwordFormFieldName) Password
        .input
          input(type='password', name=everyauth.password.passwordFormFieldName, class="password-fields required")
      #submit.actions
        input.btn.primary(type='submit', value='Login') Login

  p.member Forgot your password?
    a(href='/send-password') Click here to recover it.