div.register-wrapper
  h1 Create a new account
  - if ('undefined' !== typeof errors && errors.length)
    div.alert-message.block-message.error
      ul#errors
        - each error in errors
          li.error= error
  form(action='/register', method='POST', id='register-form')
    fieldset
      input(type='hidden', name="friend_request_id", value=userParams["friend_request_id"])
      #register-as.clearfix
        ul.inputs-list
          li
            label
              input(type='radio', name='type', value='daycare', checked='checked')
              span Daycare
          li
            label
              input(type='radio', name='type', value='parent')
              span Parent
          li
            label
              input(type='radio', name='type', value='staff')
              span Staff
      #org-type.clearfix
        ul.inputs-list
          li
            label
              input(type='radio', name='org_type', value='inhome')
              span Inhome
          li
            label
              input(type='radio', name='org_type', value='child_care_center', checked='checked')
              span Child care center
          li
            label
              input(type='radio', name='org_type', value='preschool')
              span Preschool
      #name.clearfix
        label(for="name") Daycare name
        .input
          .inline-inputs
            input(type='text', name="name", value=userParams["name"], class="small large", placeholder="Name")
            span &nbsp;&nbsp;&nbsp;&nbsp;
            input(type='text', name="surname", value=userParams["surname"], class="small hidden", placeholder="Last name")
            input(type='hidden', name="daycare_name", value=userParams["daycare_name"])
      #email.clearfix
        label(for=everyauth.password.loginFormFieldName) E-mail
        .input
          input(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName], class="required email")
          span.login-name Will be your login name.
      #password_cnt.clearfix
        label(for=everyauth.password.passwordFormFieldName) Password
        .input
          input(type='password', name=everyauth.password.passwordFormFieldName, class="password-fields required", id="password")
          a#show-password(href="#", data-show="Show password", data-hide="Hide password") Show password
      #confirm_password.clearfix
        label(for='password_confirm') Confirm password
        .input
          input(type='password', name="password_confirm", class="password-fields", id="password_confirm")
      #gender.clearfix.hidden
        label(for="gender") Gender
        .select
          select(name="gender", class="large")
            option(value="male") Male
            option(value="female") Female
      #birthday.clearfix.hidden
        label(for="birthday") Date of birth
          acronym(title="Kindzy requires all users to provide their real date of birth to encourage authenticity.")
            |  [?]
        .select
          - var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
          select(name="birthday[month]", class="small")
            option(value="", selected="selected") -
            - for (var i = 1; i <= 12; i++)
              option(value="#{i}") #{months[i-1]}
          select(name="birthday[day]", class="small")
            option(value="", selected="selected") -
            - for (var i = 1; i <= 31; i++)
              option(value="#{i}") #{i}
          - var thisYear = new Date().getFullYear();
          select(name="birthday[year]", class="small")
            option(value="", selected="selected") -
            - for (var i = thisYear - 18; i >= thisYear - 80; i--)
              option(value="#{i}") #{i}
      p
        | By clicking register, you agree to our
        a(href="/terms", title="Read Terms and conditions", target="_blank") Terms
        |  and
        a(href="/privacy", title="Read Privacy Policy", target="_blank") Privacy Policy.

      #submit.actions
        input.btn.primary(type='submit', value='Register')

  p.member Already a member?
    a(href='/login') Click here to login.
