{
"id": "#{picture._id}",
"_id": "#{picture._id}",
"primary": #{picture.primary},
"description": "#{picture.description}",
"url": "#{picture.url}",
"tiny_url": "#{picture.tiny_url}",
"mini_url": "#{picture.mini_url}",
"small_url": "#{picture.small_url}",
"thumb_url": "#{picture.thumb_url}",
"medium_url": "#{picture.medium_url}",
"big_url": "#{picture.big_url}",
"success": #{picture.success || false}
}