- if (profile)
  {
  "id": "#{profile._id}",
  "_id": "#{profile._id}",
  "master_id": "#{profile.master_id}",
  "type": "#{profile.type}",
  "gender": "#{profile.gender}",
  "name": "#{profile.name}",
  "surname": "#{profile.surname}",
  "speaking_classes": [
  each sp_class, i in (profile.speaking_classes || [])
    #{sp_class}
    - if (i != profile.speaking_classes.length-1)
      ,
  ],
  "address": "#{profile.address}",
  - var location = profile.location || [];
  "location": [#{location[0] || 10}, #{location[1] || 40}],
  - var location_components = profile.location_components || {};
  "location_components": {
  "city": "#{location_components.city}",
  "county": "#{location_components.county}",
  "state": "#{location_components.state}",
  "state_code": "#{location_components.state_code}",
  "country": "#{location_components.country}",
  "zip_code": "#{location_components.zip_code}"
  },
  "email": "#{profile.email}",
  "phone": "#{profile.phone}",
  "fax": "#{profile.fax}",
  "contact_person": "#{profile.contact_person}",
  "homebased": #{profile.homebased || false},
  "religious_affiliation": #{profile.religious_affiliation || false},
  "min_class_age": "#{profile.min_class_age}",
  "max_class_age": "#{profile.max_class_age}",
  "licensed": #{profile.licensed || false},
  "license_number": "#{profile.license_number}",
  "opened_since": "#{profile.opened_since}",
  "open_door_policy": #{profile.open_door_policy || false},
  "serving_disabilities": #{profile.serving_disabilities || false},
  "picture_sets": [
  - var picture_sets = []
  each picture_set, i in (profile.picture_sets || [])
    - if (picture_set.type === "public" || picture_set.type === "profile" || show_private)
      - picture_sets.push(picture_set)
  each picture_set, i in picture_sets
    include _picture_set
    - if (i != picture_sets.length-1)
      ,
  ],
  "friends": [
  each friend, i in (profile.friends || [])
    "#{friend}"
    - if (i != profile.friends.length-1)
      ,
  ],
  "daycare_friends": [
  each daycareFriend, i in (profile.daycare_friends || [])
    {
    "id": "#{daycareFriend._id}",
    "_id": "#{daycareFriend._id}",
    "name": "#{daycareFriend.name}"
    }
    - if (i != profile.daycare_friends.length-1)
      ,
  ],
  "reviewed_children": #{profile.reviewed_children || false},
  "children_ids": [
  - if (profile.children_ids)
    each childId, i in (profile.children_ids || [])
      "#{childId}"
      - if (i != profile.children_ids.length-1)
        ,
  ],
  - var children = profile.children;
  "children":
  include ../children/children
  ,
  "flags": [
  each flagName, i in (profile.flags || [])
    "#{flagName}"
    - if (i != profile.flags.length-1)
      ,
  ]
  }
