- if (profile)
  {
  "id": "#{profile._id}",
  "_id": "#{profile._id}",
  "master_id": "#{profile.master_id}",
  "type": "#{profile.type}",
  "parent_type": "#{profile.parent_type}",
  "name": "#{profile.name}",
  "surname": "#{profile.surname}",
  "speaking_classes": [
  each sp_class, i in profile.speaking_classes
    #{sp_class}
    - if (i != profile.speaking_classes.length-1)
      ,
  ],
  "address": "#{profile.address}",
  "location": {
  "lat": #{profile.location.lat || 10},
  "lng": #{profile.location.lng || 40}
  },
  "email": "#{profile.email}",
  "phone": "#{profile.phone}",
  "fax": "#{profile.fax}",
  "contact_person": "#{profile.contact_person}",
  "licensed": #{profile.licensed || false},
  "license_number": "#{profile.license_number}",
  "opened_since": "#{profile.opened_since}",
  "open_door_policy": #{profile.open_door_policy || false},
  "serving_disabilities": #{profile.serving_disabilities || false},
  "picture_sets": [
  - var picture_sets = []
  each picture_set, i in profile.picture_sets
    - if (picture_set.type === "public" || picture_set.type === "profile" || show_private)
      - picture_sets.push(picture_set)
  each picture_set, i in picture_sets
    include _picture_set
    - if (i != picture_sets.length-1)
      ,
  ],
  "friends": [
  each friend, i in profile.friends
    "#{friend}"
    - if (i != profile.friends.length-1)
      ,
  ],
  "daycare_friends": [
  each daycareFriend, i in profile.daycare_friends
    {
    "id": "#{daycareFriend._id}",
    "_id": "#{daycareFriend._id}",
    "name": "#{daycareFriend.name}"
    }
    - if (i != profile.daycare_friends.length-1)
      ,
  ],
  "children_ids": [
  - if (profile.children_ids)
    each childId, i in profile.children_ids
      "#{childId}"
      - if (i != profile.children_ids.length-1)
        ,
  ],
  - var children = profile.children;
  "children":
  include ../children/children
  }
