{
"id": "#{comment._id}",
"_id": "#{comment._id}",
"from_id": "#{comment.from_id}",
"to_id": "#{comment.to_id}",
"wall_id": "#{comment.wall_id}",
"type": "#{comment.type}",
"privacy": "#{comment.privacy}",
"content":
- if (typeof comment.content === "object")
  {
  "type": "#{comment.content.type}",
  "picture_set_id": "#{comment.content.picture_set_id}",
  "picture_set_name": "#{comment.content.picture_set_name}",
  "pictures":
  - var pictures = comment.content.pictures
  include ../profiles/pictures
  }
-else
  "!{_s.escapeHTML(comment.content).replace(/\r\n/g, '<br />').replace(/\n/g, '<br />')}"
,
"added_at": #{comment.added_at || 0},
"created_at": "#{comment.created_at}",
"updated_at": "#{comment.updated_at}",
"timeline": "#{comment.timeline}",
"from_user":
- var profile = comment.from_user
- if (comment.from_user)
  include ../profiles/_user
- else
  {}
}