#site-preview

#call-to-action
  p#tagline Easy, free and effortless communication for

  h1#parent-educators Parents &amp; Educators

  p#action-buttons
    a.request-invite-cnt(href="#", id="request-invite-link") Request invite
    a.take-the-tour-cnt(href="/features", id="take-the-tour-link") Take the tour

  p#registered-memebers-text Registered memebers,
    a(href="#", id="open-login-link") &nbsp;login here
    .

  #arrow-left

#testimonials-cnt
  .testimonial
    blockquote &ldquo;Frequent updates, notifications, alerts and very quick responses to our questions – this is what we got with Kindzy, and we're just as glad we found it and would recommend it to any family to use.&rdquo;
    span.author Mark and Sally, San Francisco, CA
  .testimonial.hidden
    blockquote &ldquo;My husband and I are so delitghed with Kindzy, we feel like all this innovations finally is paying off – keep the great jobs guys and thanks for finally thinking of parents who need to connect in a social circle.&rdquo;
    span.author Emily B., San Bruno, CA
  .testimonial.hidden
    blockquote &ldquo;Shortly after we started to use kindzy, we realized that now we are backed up by an entire team – a great parent’s team, and this is what makes this experience much better - thanks guys.&rdquo;
    span.author Jennifer W., San Francisco, CA
  ul#testimonials-scroller
    li.selected(data-index="0")
      a(href="#")
    li(data-index="1")
      a(href="#")
    li(data-index="2")
      a(href="#")

ul#feature-boxes
  li#communicate-box
    h2 Communicate easily
    p We've built the tools you'll need to have everyone up to date with all the events.
  li#be-present-online-box
    h2 Be present online
    p Keep track of your kids, staff and have them connect effortlessly with the parents.
  li#create-communities-box
    h2 Create communities
    p Establishing a strong connection with the parents is vital. Having them in your community is pricelles.


div.login-wrapper.hidden
  div
    h1 Welcome to Kindzy.com
    - if ('undefined' !== typeof errors && errors.length)
      div.alert-message.block-message.error
        ul#errors
          - each error in errors
            li.error= error
    form(action='/login', method='POST', id='login-form')
      fieldset
        input(type='hidden', name="friend_request_id", value='')
        #login.clearfix
          label(for=everyauth.password.loginFormFieldName) E-mail
          .input
            input(type='text', name=everyauth.password.loginFormFieldName, value="", placeholder="Your Email Address", class="required email")
        #password.clearfix
          label(for=everyauth.password.passwordFormFieldName) Password
          .input
            input(type='password', name=everyauth.password.passwordFormFieldName, class="password-fields required")
        #submit.actions
          input.btn.primary(type='submit', value='Login') Login

    p.member Forgot your password?
      a(href='/send-password') Click here to recover it.

div.invite-wrapper.hidden
  div
    h1 Request a Kindzy account
    form(action='/request-invite', method='POST', id='invite-form')
      fieldset
        .clearfix
          label(for="email") E-mail
          .input
            input(type='text', name="email", value="", placeholder="Your Email Address", class="required email")
        .clearfix
          label(for="message") Why do you want to join Kindzy?
          .input
            textarea(name="message", class="required", placeholder="10 to 5 words")
        #submit.actions
          input.btn.primary(type='submit', value='Request invite') Request invite
    p#invite-sent-success.hidden Invite successfully requested. We will contact you soon for farther details. Thank you.
