#action-box
  a.request-invite-bt(href="#", id="request-invite-link") Request invite

  p#registered-memebers-text Registered memebers,
    a(href="#", id="open-login-link") &nbsp;login here
    .

h1#explore Terms and conditions

br
br
br
br
br

p This Agreement contains all of the terms and conditions between Kindzy. ("Kindzy.com") and you  and governs the use of the service offered at the Kindzy.com website. Please read this Agreement before using the Site. Use of the Site constitutes an agreement with the Terms of Use (this "Agreement"), whether or not you register as a member of Kindzy.com ("Member"). If you wish to become a Member and make use of the Kindzy.com service (the "Service"), then please read this Agreement. By using this Site, all users do hereby represent, warrant, understand, agree to and accept all terms and conditions contained herein. If you object to anything in this Agreement or the Kindzy.com Privacy Policy, do not use the Site or the Service. The Terms of Use are subject to change by Kindzy.com at any time, effective upon posting on the Kindzy.com Website, and your use of the Site or the Service after such posting will constitute acceptance by you of such changes.

p 1. ACCEPTANCE OF TERMS OF USE AGREEMENT. This Agreement is an electronic contract that sets out the legally binding terms of your use of the Site and the Service. This Agreement may be modified by Kindzy .com from time to time, such modifications to be effective upon posting by Kindzy.com on the Site. This Agreement includes the Kindzy.com Privacy Policy. By accessing the Site or becoming a Member, you accept this Agreement and agree to the terms, conditions and notices contained or referenced herein. In addition, by accessing the Site or becoming a Member, you consent to have this Agreement provided to you in electronic form.
p 2. ELIGIBILITY. Our services are available only to individuals and companies that can form legally binding contracts under applicable law. Without limiting the foregoing, our services are not available to minors under the age of eighteen (18) This Site is currently available only to United States citizens and/or any individuals who are legally in the jurisdiction of the United States and may legally work within its jurisdiction.

p By requesting to use, registering to use and/or using the Site, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and you commit to abide by all of the terms and conditions hereof. In addition, you represent and warrant that you and each member of your household (a) have never been the subject of a complaint, restraining order or any other legal action involving, arrested for, charged with, or convicted of any felony, any criminal offense involving violence, abuse, neglect, fraud or larceny, or any offense that involves endangering the safety of others, and (b) have not been and are not currently required to register as a sex offender with any government entity.
p NOT WITHSTANDING THE FOREGOING, KINDZY.COM DISCLAIMS ANY LIABILITY WHATSOEVER FOR ANY MISSTATEMENTS AND/OR MISREPRESENTATIONS MADE BY ANY USERS OF THE SITE. USERS DO HEREBY REPRESENT, UNDERSTAND AND AGREE TO HOLD KINDZY.COM HARMLESS FOR ANY MISSTATEMENTS AND/OR MISREPRESENTATIONS MADE BY ANY USERS OF THIS SITE.

p 3. EXCLUSIVE USE. Your account is for your sole, personal use, you may not authorize others to use your account, and you may not assign or otherwise transfer your account to any other person or entity.
p 4. INFORMATION PROVIDED BY USERS. You are responsible for providing accurate, current and complete information in connection with your registration for use of the Site. Kindzy.com is not responsible for any claims relating to any inaccurate, untimely or incomplete information provided by users of the Site.

p You are solely responsible for any content, messages, photos, videos, reviews or profiles (collectively, "Content") that you publish or display (hereinafter, "post") on the Site, or transmit to other users of the Site. You will not post on the Site, or transmit to other users, any defamatory, inaccurate, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, racially offensive, or illegal material, or any material that infringes or violates another party's rights (including, but not limited to, intellectual property rights, and rights of privacy and publicity). You will not provide inaccurate, misleading or false information to Kindzy.com or to any other user of the Site.
p You understand and agree that Kindzy.com may review and delete any Content, in each case in whole or in part, that in the sole judgment of Kindzy.com violates this Agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of users of the Site.
p By posting Content to any public or member area of the Site you automatically grant, and you represent and warrant that you have the right to grant, to Kindzy.com, its Affiliates, licensees and successors, an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display, reproduce, adapt, modify and distribute such information and content and to prepare derivative works of, or incorporate into other works, such information and content, and to grant and authorize sublicenses of the foregoing. You further represent and warrant that public posting and use of your Content by Kindzy.com will not infringe or violate the rights of any third party.
p Your use of the Service, including but not limited to the Content you post on the Service, must be in accordance with any and all applicable laws and regulations.
p Opinions, advice, statements, offers, or other information or content made available on the Site or through the Service, but not directly by Kindzy.com, are those of their respective authors. Such authors are solely responsible for such content. Kindzy.com does not: (i) guarantee the accuracy, completeness, or usefulness of any information on the Site or available through the Service, or (ii) adopt, endorse or accept responsibility for the accuracy or reliability of any opinion, advice, or statement made by any party that appears on the Site or through the Service. Under no circumstances will Kindzy.com or its Affiliates be responsible for any loss or damage resulting from: a) your reliance on information or other content posted on the Site or transmitted to or by any user of the Site or Service; or b) reviews or comments made about you on the Site by other users.

p 5. Statement of Rights and Responsibilities

p This Statement of Rights and Responsibilities (Statement) derives from the Principles, and governs our relationship with users and others who interact with Kindzy.com. By using or accessing Kindzy.com, you agree to this Statement.
p 1. Privacy

p Your privacy is very important to us. We designed our Privacy Policy to make important disclosures about how you can use Kindzy.com to share with others and how we collect and can use your content and information.  We encourage you to read the Privacy Policy, and to use it to help make informed decisions.
 
p 2. Sharing Your Content and Information

p You own all of the content and information you post on Kindzy, and you can control how it is shared through your privacy. In addition:
p 1. For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with Kindzy (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.
p 2. When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).
p 3. When you publish content or information using the everyone setting, it means that you are allowing everyone, including people off of Kindzy.com, to access and use that information, and to associate it with you (i.e., your name and profile picture).
p 4. We always appreciate your feedback or other suggestions about Kindzy.com, but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).
 
p 3. Safety

p We do our best to keep Kindzy.com safe, but we cannot guarantee it. We need your help to do that, which includes the following commitments:
p 1. You will not send or otherwise post unauthorized commercial communications (such as spam) on Kindzy.com
p 2. You will not collect users' content or information, or otherwise access Kindzy.com, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our permission.
p 3. You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on Kindzy.com
p 4. You will not upload viruses or other malicious code.
p 5. You will not solicit login information or access an account belonging to someone else.
p 6. You will not bully, intimidate, or harass any user.
p 7. You will not post content that: is hateful, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.
p 8. You will not develop or operate a third-party application containing alcohol-related or other mature content (including advertisements) without appropriate age-based restrictions.
p 9. You will not use Kindzy.com to do anything unlawful, misleading, malicious, or discriminatory.
p 10. You will not do anything that could disable, overburden, or impair the proper working of Kindzy.com, such as a denial of service attack.
p 11. You will not facilitate or encourage any violations of this Statement.
 
4. Registration and Account Security

p Kindzy.com users provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account:
p 1. You will not provide any false personal information on Kindzy.com, or create an account for anyone other than yourself without permission.
p 2. You will not create more than one personal profile.
p 3. If we disable your account, you will not create another one without our permission.
p 4. You will not use your personal profile for your own commercial gain (such as selling your status update to an advertiser).
p 5. You will not use Kindzy.com if you are under 18.
p 6. You will not use Kindzy.com if you are a convicted sex offender.
p 7. You will keep your contact information accurate and up-to-date.
p 8. You will not share your password, (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.
p 9. You will not transfer your account (including any page or application you administer) to anyone without first getting our written permission.
p 10. If you select a username for your account we reserve the right to remove or reclaim it if we believe appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).
 
p 5. Protecting Other People's Rights

p We respect other people's rights, and expect you to do the same.
p 1. You will not post content or take any action on Kindzy.com that infringes or violates someone else's rights or otherwise violates the law.
p 2. We can remove any content or information you post on Kindzy.com  if we believe that it violates this Statement.
p 3. If we remove your content for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.
p 4. If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.
p 5. You will not use our copyrights or trademarks (including Kindzy, the Kindzy.com and Kindzy Logos), or any confusingly similar marks, without our written permission.
p 6. If you collect information from users, you will: obtain their consent, make it clear you (and not Kindzy) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it.
p 7. You will not post anyone's identification documents or sensitive financial information on Kindzy.
p 8. You will not tag users or send email invitations to non-users without their consent.
 
p 6. Special Provisions Applicable to Share Links

p If you include our Share Link button on your website, the following additional terms apply to you:
p 1. We give you permission to use Kindzy's Share Link button so that users can post links or content from your website on Kindzy.com
p 2. You give us permission to use and allow others to use such links and content on Kindzy.com.
p 3. You will not place a Share Link button on any page containing content that would violate this Statement if posted on Kindzy.com.

p 5. PRIVACY. Kindzy.com will only use the information you provide on the Site in accordance with our Privacy Policy. For more information, see our full Privacy Policy, the terms of which are incorporated herein. By agreeing to these Terms of Use, you are consenting to receive certain communications from us. For example, Kindzy.com may send you newsletters, special offers, and customer surveys via email.
p 6. LINKS TO EXTERNAL SITES. Links from the Site to external sites (including external sites that are framed by Kindzy.com) or inclusion of advertisements do not constitute an endorsement by Kindzy.com of such sites or the content, products, advertising and other materials presented on such sites or of the products and services that are the subject of such advertisements, but are for users' reference and convenience. Users access them at their own risk. It is the responsibility of the user to evaluate the content and usefulness of the information obtained from other sites. Kindzy.com does not control such sites, and is not responsible for their content. Just because Kindzy.com has hyperlinks to such sites does not mean that Kindzy.com endorses any of the material on such sites, or has any association with their operators. Users further acknowledge that use of any site controlled, owned or operated by third parties is governed by the terms and conditions of use for those sites, and not by Kindzy.com's Terms of Use and Privacy Policy. Kindzy.com expressly disclaims any liability derived from the use and/or viewing of links that may appear on this Site. All users hereby agree to hold Kindzy.com harmless from any liability that may result from the use of links that may appear on the Site.
p 7. DISCLAIMER OF WARRANTY.
p 1. No Warranties. KINDZY.COM PROVIDES THE SERVICES ON AN "AS IS" BASIS AND GRANTS NO WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE WITH RESPECT TO THE SERVICES OR THE SITE (INCLUDING ALL INFORMATION CONTAINED THEREIN), INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. KINDZY.COM DOES NOT WARRANT THAT YOUR USE OF THE SERVICES WILL BE SECURE, UNINTERRUPTED, ALWAYS AVAILABLE, ERROR-FREE OR WILL MEET YOUR REQUIREMENTS, OR THAT ANY DEFECTS IN THE SERVICES WILL BE CORRECTED. KINDZY.COM DISCLAIMS LIABILITY FOR, AND NO WARRANTY IS MADE WITH RESPECT TO, THE CONNECTIVITY AND AVAILABILITY OF THE SERVICES.

p IN ADDITION AND WITHOUT LIMITING THE FOREGOING, KINDZY.COM MAKES NO REPRESENTATION OR WARRANTIES OF ANY KIND WHETHER EXPRESS OR IMPLIED REGARDING THE SUITABILITY OF ANY MEMBER OF OUR SITE TO PROVIDE SERVICES AS A CAREGIVER OR TO SECURE THE SERVICES OF A CAREGIVER, INCLUDING, WITHOUT LIMITATION, PARTICIPANTS IN ANY THIRD PARTY VERIFICATION SERVICE OFFERED ON OUR SITE.
p 2. Third Party Content. Opinions, advice, statements, offers, or other information or content made available through the Services, but not directly by Kindzy.com, are those of their respective authors, and should not necessarily be relied upon. Such authors are solely responsible for such content. KINDZY.COM DOES NOT: (i) GUARANTEE THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY INFORMATION PROVIDED ON THE SITE, OR (ii) ADOPT, ENDORSE OR ACCEPT RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE, OR STATEMENT MADE BY ANY PARTY OTHER THAN KINDZY.COM. UNDER NO CIRCUMSTANCES WILL KINDZY.COM BE RESPONSIBLE FOR ANY LOSS OR DAMAGE RESULTING FROM ANYONE'S RELIANCE ON INFORMATION OR OTHER CONTENT POSTED ON THE SERVICES, OR TRANSMITTED TO OR BY ANY USERS.
p 8. LIMITATION OF LIABILITY.
p 1. Incidental Damages and Aggregate Liability. In no event will Kindzy.com be liable for any indirect, special, incidental, or consequential damages, losses or expenses arising out of or relating to the use or inability to use the Site, including without limitation damages related to any information received from the Site, removal of content from the Site, including profile information, any email distributed to any user or any linked web site or use thereof or inability to use by any party, or in connection with any termination of your subscription or ability to access the Site, failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus or line or system failure, even if Kindzy.com, or representatives thereof, are advised of the possibility of such damages, losses or expenses. UNDER NO CIRCUMSTANCES WILL KINDZY.COM'S AGGREGATE LIABILITY, IN ANY FORM OF ACTION WHATSOEVER IN CONNECTION WITH THIS AGREEMENT OR THE USE OF THE SERVICES OR THE SITE, EXCEED THE PRICE PAID BY YOU FOR YOUR ACCOUNT, OR, IF YOU HAVE NOT PAID KINDZY.COM FOR THE USE OF ANY SERVICES, THE AMOUNT OF US$25.00 OR ITS EQUIVALENT.
p 2. No Liability for non- Kindzy.com Actions. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL KINDZY.COM BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SITE, INCLUDING WITHOUT LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM INTERACTIONS WITH OTHER MEMBERS OF THE SITE, WHETHER ONLINE OR OFFLINE. THIS INCLUDES ANY CLAIMS, LOSSES OR DAMAGES ARISING FROM THE CONDUCT OF USERS WHO HAVE REGISTERED UNDER FALSE PRETENSES OR WHO ATTEMPT TO DEFRAUD OR HARM YOU.
p 3. In addition to the preceding paragraphs of this section and other provisions of this Agreement, any advice that may be posted on the Site is for informational purposes only and is not intended to replace or substitute for any professional financial, medical, legal, or other advice. Kindzy.com makes no representations or warranties and expressly disclaims any and all liability concerning any treatment, action by, or effect on any person following the information offered or provided within or through the Site. If you have specific concerns or a situation arises in which you require professional or medical advice, you should consult with an appropriately trained and qualified specialist.
p 9. INDEMNIFICATION. By agreeing to the terms of this Agreement, users of the Site agree to indemnify, defend and hold harmless Kindzy.com and its Affiliates from and against any and all claims, losses, expenses or demands of liability, including attorneys' fees and costs incurred by Kindzy.com and its Affiliates in connection with any claim by a third party (including an intellectual property claim) arising out of (i) materials and content you submit, post or transmit through the Site, or (ii) use of the Site by you in violation of these Terms of Use or in violation of any applicable law. Users further agree that they will cooperate as reasonably required in the defense of such claims. Kindzy.com and its Affiliates reserve the right, at their own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by users, and users shall not, in any event, settle any claim or matter without the written consent of Kindzy.com. Users further agree to hold harmless Kindzy.com and its Affiliates from any claim arising from a third party's use of information or materials of any kind that users post to the Site.
p 10. NOTICE AND TAKE DOWN PROCEDURES; COPYRIGHT AGENT. If you believe any materials accessible on or from Site infringe your copyright, you may request removal of those materials (or access thereto) from this Site by contacting Kindzy.com's copyright agent (identified below) and providing the following information:
p 1. Identification of the copyrighted work that you believe to be infringed. Please describe the work, and where possible include a copy or the location (e.g., URL) of an authorized version of the work.
p 2. Identification of the material that you believe to be infringing and its location. Please describe the material, and provide us with its URL or any other pertinent information that will allow us to locate the material.
p 3. Your name, address, telephone number and (if available) e-mail address.
p 4. A statement that you have a good faith belief that the complained of use of the materials is not authorized by the copyright owner, its agent, or the law.
p 5. A statement that the information that you have supplied is accurate, and indicating that "under penalty of perjury," you are the copyright owner or are authorized to act on the copyright owner's behalf.
p 6. A signature or the electronic equivalent from the copyright holder or authorized representative.


div.login-wrapper.hidden
  div
    h1 Welcome to Kindzy.com
    - if ('undefined' !== typeof errors && errors.length)
      div.alert-message.block-message.error
        ul#errors
          - each error in errors
            li.error= error
    form(action='/login', method='POST', id='login-form')
      fieldset
        input(type='hidden', name="friend_request_id", value='')
        #login.clearfix
          label(for=everyauth.password.loginFormFieldName) E-mail
          .input
            input(type='text', name=everyauth.password.loginFormFieldName, value="", placeholder="Your Email Address", class="required email")
        #password.clearfix
          label(for=everyauth.password.passwordFormFieldName) Password
          .input
            input(type='password', name=everyauth.password.passwordFormFieldName, class="password-fields required")
        #submit.actions
          input.btn.primary(type='submit', value='Login') Login

    p.member Forgot your password?
      a(href='/send-password') Click here to recover it.

div.invite-wrapper.hidden
  div
    h1 Request a Kindzy account
    form(action='/request-invite', method='POST', id='invite-form')
      fieldset
        .clearfix
          label(for="email") E-mail
          .input
            input(type='text', name="email", value="", placeholder="Your Email Address", class="required email")
        .clearfix
          label(for="message") Why do you want to join Kindzy?
          .input
            textarea(name="message", class="required", placeholder="10 to 5 words")
        #submit.actions
          input.btn.primary(type='submit', value='Request invite') Request invite
    p#invite-sent-success.hidden Invite successfully requested. We will contact you soon for farther details. Thank you.