{
"_id": "#{friend_request._id}",
"from_id": "#{friend_request.from_id}",
"email": "#{friend_request.email}",
"name": "#{friend_request.name}",
"surname": "#{friend_request.surname}",
"parent_type": "#{friend_request.parent_type}",
"children_ids": [
each childId, i in friend_request.children_ids
  "#{childId}"
  - if (i != friend_request.children_ids.length-1)
    ,
],
"status": "#{friend_request.status}",
"created_at": "#{friend_request.created_at}"
}