{
"_id": "#{friend_request._id}",
"from_id": "#{friend_request.from_id}",
"email": "#{friend_request.email}",
"name": "#{friend_request.name}",
"surname": "#{friend_request.surname}",
"status": "#{friend_request.status}",
"created_at": "#{friend_request.created_at}"
}