- if (person)
  {
  "id": "#{person._id}",
  "_id": "#{person._id}",
  "name": "#{person.name}",
  "surname": "#{person.surname}",
  "phone": "#{person.phone}",
  "address": "#{person.address}",
  "city": "#{person.city}",
  "state": "#{person.state}",
  "zip": "#{person.zip}",
  "pick_up": #{!!person.pick_up}
  }