- if (child)
  {
  "id": "#{child._id}",
  "_id": "#{child._id}",
  "user_id": "#{child.user_id}",
  "name": "#{child.name}",
  "surname": "#{child.surname}",
  "gender": "#{child.gender}",
  "birthday": "#{child.birthday}"
  }
