- if (child)
  {
  "id": "#{child._id}",
  "_id": "#{child._id}",
  "user_id": "#{child.user_id}",
  "name": "#{child.name}",
  "surname": "#{child.surname}",
  "gender": "#{child.gender}",
  "birthday": "#{child.birthday}",
  "special_needs": "#{child.special_needs}",
  "physician_name": "#{child.physician_name}",
  "phone_physician": "#{child.phone_physician}",
  "authorized_person_1":
  - var person = child.authorized_person_1;
  include _authorized_person
  ,
  "authorized_person_2":
  - var person = child.authorized_person_2;
  include _authorized_person
  }
